<div class="container big-cart">
    <h3>Crear Nota</h3>
    <form [formGroup]="crearNotaForm" (ngSubmit)="Guardar()">
      <div class="row">
        <!-- Primera columna -->
        <div class="col-md-6">
          <div class="form-group mt-3">
            <label for="contenido">Contenido:</label>
            <input
              class="form-control"
              id="contenido"
              placeholder="Contenido de la Nota"
              formControlName="contenido"
              required
            />
            <div *ngIf="crearNotaForm.get('contenido')?.hasError('required') && crearNotaForm.get('contenido')?.touched" class="text-danger">
                El contenido es requerido
              </div>
              <div *ngIf="crearNotaForm.get('contenido')?.hasError('minlength') && crearNotaForm.get('contenido')?.touched" class="text-danger">
                El contenido debe tener al menos 3 caracteres
              </div>
          </div>
  
          <div class="form-group mt-3">
            <label for="etiqueta">Etiqueta:</label>
            <select class="form-select" id="etiqueta" formControlName="etiqueta">
              <option *ngFor="let etiqueta of etiquetas" [value]="etiqueta.name">{{ etiqueta.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success mt-3" [disabled]="crearNotaForm.invalid">
        Guardar Nota
      </button>
    </form>
  </div>
  