<div class="container mt-5">
  <h3>Notas Activas</h3>
  <div *ngIf="activeNotes.length === 0; else notasList">
    <p>No se encontraron notas activas.</p>
  </div>
  <ng-template #notasList>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let nota of activeNotes; let last = last">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <strong>Contenido:</strong> {{ nota.content }}
          </div>
          <div>
            <strong>Etiquetas:</strong>
            <span *ngFor="let etiqueta of nota.tags; let lastTag = last">
              {{ etiqueta.name }}{{ !lastTag ? ', ' : '' }}
            </span>
          </div>
          <div>
            <strong>Estado:</strong> Activa
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
