<div class="container mt-5">
    <h3>Notas por Etiqueta</h3>
    <div class="form-group">
      <label for="etiquetaSeleccionada">Seleccionar Etiqueta:</label>
      <select class="form-control" id="etiquetaSeleccionada" [(ngModel)]="etiquetaSeleccionada" (change)="onSelectEtiqueta()">
        <option *ngFor="let etiqueta of etiquetas" [value]="etiqueta.id_tag">{{ etiqueta.name }}</option>
      </select>
    </div>
  
    <div *ngIf="notasPorEtiqueta.length === 0" class="alert alert-info mt-3">
      No se encontraron notas con la etiqueta seleccionada.
    </div>
  
    <ul class="list-group" *ngIf="notasPorEtiqueta.length > 0">
      <li class="list-group-item" *ngFor="let nota of notasPorEtiqueta; let last = last">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <strong>Contenido:</strong> {{ nota.content }}
          </div>
          <div>
            <strong>Etiquetas:</strong>
            <span *ngFor="let etiqueta of nota.tags; let lastTag = last">
              {{ etiqueta.name }}{{ !lastTag ? ', ' : '' }}
            </span>
          </div>
          <div>
            <strong>Estado:</strong> {{ nota.active ? 'Activa' : 'Archivada' }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  